<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marks</title>
  </head>
  <body>
    <select name="" id="">
      <% if(locals.semester){ %>
      <% for ( let [key , values] of (Object.entries(semester))){ %>
      <option value="sem<%= key %>">
        Semester <%= key %>
      </option>
      <% } %> <% } %>
    </select>
    <% if(locals.semester){ %>
      <% for ( let [key , values] of (Object.entries(semester))){ %>
       <h2> Semester <%= key %> </h2>
        <% for( let [code , grades] of (Object.entries(values))){  %>
            <p> <%= code  %> => <%= grades %></p>
        <% } %>
      <% } %> <% } %>
  </body>
</html>
