<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
    .first{
      background-color: black;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    #img{
      border-radius: 50%;
    }
    .bottom{
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-style: solid ;
      border-radius: 10px;
      border-color: rgb(238, 133, 133);
      background-color: white;
      width: 350px;
    }
    .name{
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="first">
    <div class="top" style="z-index: 2;">
      <div class="imageClip" >
        <img id="img" src="data:<%=image.type %>;base64, <%= image.binaryData%>" style="width: 150px; object-fit: cover; height:150px ;" alt="">
      </div>
    </div>
    <div class="bottom" style="position: relative; top: -75px">
      <div style="height: 40px;">
      </div>
      <div class="name">
        <p><strong>Name : </strong><%= name %></p>
      </div>
      <div class="name">
        <p><strong>Register Number </strong>  : <%= registerNo %></p>
      </div>
      <div class="name">
        <p><strong>Degree </strong>  : <%= degree %> </p>
      </div>
      <div class="name">
        <p><strong>Branch </strong>  : <%= branch %></p>
      </div>
      <div class="name">
        <p><strong>college </strong>  : PSNACET</p>
      </div>
      <div class="name">
        <form action="/semMarks" method="post" >
          <input type="text" name="stdMailId" value="<%= studentEmail %>" hidden> 
          <button type="submit" class="button">Marks</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>