<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .student-profile{
      height: 180px;
      width:600px;
      align-items: center;
      border: solid;
      border-color: black;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
    }
    .student-dp{
      width: 120px;
      height: 100px;
      
    }
  </style>
</head>
<body>
  <form action="/semMarks" method="post">
    <input type="text" name="stdMailId" value="<%= studentEmail %>" hidden> 
    <button type="submit" >Marks</button>
    <div class="student-profile">
         <div class="student-dp">
            <img class="student-dp" src="data:<%=image.type %>;base64, <%= image.binaryData%>" alt="">
         </div>
         <div class="student-details">
            <p><%= name %></p>
            <p><%= registerNo %></p>
            <p><%= degree %> <%= branch %></p>
            <p>Psna</p>
          </div>
    </div>
    </form>
    <div class="attendence">
      <% if(locals.subject){ %>
      <% for( let i = 0; i < subject.length; i++ ) { %>
        <p><%= subject[i].s_Name %></p>
        <p><%= subject[i].s_Persentage %></p>
      <% } %>
      <% }%>
    </div>
</body>
</html>