<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .student-profile{
      height: 180px;
      width:600px;
      align-items: center;
      border: solid;
      border-color: black;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
    }
    .student-dp{
      width: 120px;
      height: 100px;
      
    }
  </style>
</head>
<body>
    <button type="submit" onclick="markTrans()">Marks</button>
    <div class="student-profile">
         <div class="student-dp">
            <img class="student-dp" src="../public/images/test-student.jpg" alt="">
         </div>
         <div class="student-details">
            <p ><%= Name %></p>
            <p id="reg"><%=  Regno %></p>
            <p><%= Degree %> <%=Branch %></p>
            <p>Psna</p>
          </div>
    </div>
    
    <div class="attendence">
      <% for( let i = 0; i < Subject.length; i++ ) { %>
        <p><%= Subject[i].S_Name %></p>
        <p><%= Subject[i].S_Persentage %></p>
      <% } %>
    </div>
</body>
<script>
  async function markTrans(){
  let regNo = document.getElementById("reg").innerText;
  let data=new URLSearchParams();
  data.append('text',regNo);
  await fetch('/semMarks',{
    method:'POST',
    headers:{
      'Content-Type':'application/x-www-form-urlencoded',
    },
    body:data.toString(),
  });

  }
 
</script>
</html>